$bg_color: #21232e;
$header_bg_img: url("../img/m-h-night.jpg");
$header_text_color: #fff;
$btn_bg: #e3ac00;
$highlight_word: #ff4e33;
$bg_card: #3b3f50;
$banner_gradint_left: #dca007;
$banner_gradint_right: #a14443;
