$bg_color: #fff;
$header_bg_img: url("../img/m-h-day.jpg");
$header_text_color: #313440;
$btn_bg: #699900;
$highlight_word: #14a0c7;
$bg_card: #21232e;
$banner_gradint_left: #629218;
$banner_gradint_right: #3260c8;
